<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div id="content-wrapper">
      <h1>Survey Form</h1>
      <div id="response-wrapper">

      </div>
      <div id="form-wrapper">
        <form id="survey-form" action="/results" method="post">
          <label>Your Name:</label>
          <input type="text" name="name" value="">
          <br>
          <label>Dojo Location:</label>
          <input type="text" name="location" value="">
          <br>
          <label>Favorite Language:</label>
          <input type="text" name="language" value="">
          <br>
          <label>Comment (optional):</label>
          <br>
          <textarea name="comment" rows="8" cols="80"></textarea>
          <br>
          <input type="submit" name="" value="Submit">
        </form>
      </div>
    </div>

  </body>
</html>
