<div id="content-wrapper">
  <div id="results-box" class="box">
    <h3>Submitted information</h3>
    <table>
      <tbody>
        <tr>
          <td>Name:</td>
          <td><%= name %></td>
        </tr>
        <tr>
          <td>Dojo Location:</td>
          <td><%= location %></td>
        </tr>
        <tr>
          <td>Favorite Language:</td>
          <td><%= language %></td>
        </tr>
        <tr>
          <td>Comment:</td>
          <td><%= comment %></td>
        </tr>
      </tbody>
    </table>
    <form class="" action="/" method="get">
      <input type="submit" name="" value="Go Back">
    </form>
  </div>
</div>
